<VirtualHost *:80>
    ServerName server217
    ServerAlias https://snowtrickmass.com

    DocumentRoot /home/u287307345/domains/snowtrickmass.com/public_html/public
    <Directory /home/u287307345/domains/snowtrickmass.com/public_html/public>
    AllowOverride None
    </Directory>


    ErrorLog /var/log/apache2/project_error.log
    CustomLog /var/log/apache2/project_access.log combined
</VirtualHost>
