{% extends 'base.html.twig' %}

{% block title %}UPDATE YOUR PASSWORD
{% endblock %}

{% block body %}


	<div class="container mt-5">

		<div class="jumbotron" style="background-image: url({{ asset ('/images/pass.jpg')}})">

			<p class="lead text-warning"></p>

		</div><br>
		<div class="row">
			<div class="col-md-3">&nbsp;</div>
			<div class="col-md-6">
				<div class="bg-light py-3 px-3">
					<h1>
						Update your password</h1><br>


					{{ form_start(form)}}
					{{ form_widget(form)}}
					<button type="submit" class="btn btn-primary btn-lg">
						<i class="fas fa-lock"></i>
						Update Password</button>
					{{form_end(form)}}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
